.element.element-summary-icon {
  display: flex;
  align-items: flex-start;
  .image {
    flex: 0 0 40px;
    margin-right: 10px;
    img {
      max-width: 100%;
      height: auto;
      // this rule translates the icon color from the original theme color to 
      // Kontralto Blue
      filter: 
        grayscale(1)
        brightness(0)
        invert(33%)
        sepia(35%)
        saturate(402%)
        hue-rotate(164deg) 
        brightness(95%)
        contrast(87%);
    }
  }
  .content {
    flex: 1;
    .heading {
      font-family: $font-family-heading;
      font-size: 1.5rem;
    }
    p {
      color: #666;
      width: 90%;
    }
  }
}
