{{ $scratch :=  partial "scratch/set" (dict
  "context" .
  "layoutPath" "list/icon-overview"
  "name" "list-icon-overview"
  "classAdditional" ""
  "requiredParams" (slice )
) }}

{{ $scratch := partial "component/list/icon-overview.defaults.html" $scratch }}

{{ partial "wrapper/component-no-bg-image" $scratch }}

{{ with $scratch.Get "datasource" }}
{{ if ($scratch.Get "hasListItems") }}
<div class="container">
  <div class="row justify-content-start">
    {{ if .Params.heading }}
      <div class="col-12">
        <h2 class="text-center mb-3 text-gray-700">{{ .Params.heading }} </h2>
      </div>
    {{ end }}

    {{ range ($scratch.Get "listItems") }}
    {{ if and .Params.heading }}
    <div class='mb-1 {{ $scratch.Get "classColumn" }}'>
        <div class="element element-summary-icon">
          <div class="image">
            {{ if .Params.icon }}
              <img src="{{ .Site.BaseURL }}{{ .Params.icon }}"/>
            {{ end }}
          </div>
          <div>
            <h3 class="heading">
              <a href="{{ .Permalink }}">{{ .Params.heading }}</a>
            </h3>
            {{ if .Params.subheading }}
              <p>
                {{ .Params.subheading }}
              </p>
            {{ end }}
          </div>
        </div>
      </div>
    {{ end }}
    {{ end }}

    {{ if not (.Params.ctahide) }}
      <div class="col-12 text-center">
        {{ partial "element/cta" $scratch }}
      </div>
    {{ end }}

  </div>
</div>
{{ end }}
{{ end }}

{{ partial "wrapper/bottom" $scratch }}
