{{ $scratch :=  partial "scratch/set" (dict
  "context" .
  "layoutPath" "list/page-feed"
  "name" "list-page-feed"
  "classAdditional" ""
  "requiredParams" (slice "hostpage")
  "contentRequired" false
) }}

{{ $scratch := partial "component/list/page-feed.defaults.html" $scratch }}

{{ partial "wrapper/component-v2-no-bg-image" $scratch }}

{{ with $scratch.Get "datasource" }}

<div class="container">
  <div class="row">

  {{ range ( ($scratch.Get "hostPage").Paginate ($scratch.Get "listItems").ByDate.Reverse 5).Pages }}
    <div class='border-top border-primary page-feed-item mb-2  {{ $scratch.Get "columnClass" }}'>
      <a href="{{ .Permalink }}" class=''>
        <div class="py-2">

          <h2 class="heading">{{ .Params.heading }}</h2>
          {{ if .Params.subheading }}
          <h3>{{ .Params.subheading }}</h3>
          {{ end }}
          <p>
            {{ .Lastmod.Format "January 2, 2006" }}
          </p>

        </div>
      </a>
    </div>
  {{ end }}

  <div class="d-flex justify-content-center col-12 ">
    {{ template "_internal/pagination.html" ($scratch.Get "hostPage") }}
  </div>
    
  </div>
</div>
{{ end }}

{{ partial "wrapper/bottom-v2" $scratch }}