{{ $scratch := . }}
{{ $context := ($scratch.Get "context") }}
{{ $datasource := ($scratch.Get "datasource") }}

{{ $accordionID    := print "id-" (partial "get/random-sha1" . ) }}


{{ if and ($scratch.Get "isDevEnv") site.Params.debug.print_scratch }}
  <div class="component component-dev-scratch-display border-top border-thick pt-4">
    <div class="container border-start border-thick">
      <div class="row">

        <!-- accordion -->
        <div class="accordion accordion-flush" id="{{ $accordionID }}">
            
          {{ partial "dev/scratch/_accordion-item" (dict
              "headingTitle"  "Context Scratch"
              "headingItem"   $context.Params.heading
              "headingPath"   $context.Path
              "bodyData"      $scratch.Values
              "accordionID"   $accordionID
          ) }}

          {{ partial "dev/scratch/_accordion-item" (dict
              "headingTitle"  "Context Params"
              "headingItem"   $context.Params.heading
              "headingPath"   $context.Path
              "bodyData"      $context.Params 
              "accordionID"   $accordionID
          ) }}
          
          {{ if or $context.Data.Terms $context.Data.Term }}
          {{ partial "dev/scratch/_accordion-item" (dict
              "headingTitle"  "Taxonomy"
              "headingItem"   $context.Params.heading
              "headingPath"   $context.Path
              "bodyData"      $context.Data 
              "accordionID"   $accordionID
          ) }}
          {{ end }}

          {{ partial "dev/scratch/_accordion-item" (dict
              "headingTitle"  "Datasource Scratch"
              "headingItem"   $datasource.Params.heading
              "headingPath"   $datasource.Path
              "bodyData"      ( partial "dev/scratch/set-for-item-context" $datasource ).Values
              "accordionID"   $accordionID
              ) }}
              
              {{ partial "dev/scratch/_accordion-item" (dict
              "headingTitle"  "Datasource Params"
              "headingItem"   $datasource.Params.heading
              "headingPath"   $datasource.Path
              "bodyData"      $datasource.Params 
              "accordionID"   $accordionID
          ) }}

        <!-- /accordion -->

        </div>
      </div>
    </div>
  </div>
{{ end }}