{{ $scratch :=  partial "scratch/set" (dict
  "context" .
  "layoutPath" "banner/center-text"
  "name" "banner-center-text"
  "classAdditional" ""
  "requiredParams" (slice "heading")
) }}

{{ $scratch := partial "component/banner/center-text.defaults.html" $scratch }}

{{ partial "wrapper/component" $scratch }}

{{ with $scratch.Get "datasource" }}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 text-center">
      <h2>{{ .Params.heading }}</h2>

      {{ .Content }}

      {{ partial "element/cta" $scratch }}

    </div>
  </div>
</div>
{{ end }}

{{ partial "wrapper/bottom" $scratch }}
