{{ $scratch := . }}

{{ with $scratch.Get "datasource" }}

  {{ $scratch := partial "dev/scratch/enrich/default-value" (dict
    "name" "classPadding"
    "value" .Params.classPadding
    "fallback" "py-8 py-md-12"
    "scratch" $scratch 
  ) }}

  {{ $scratch := partial "dev/scratch/enrich/default-value" (dict
  "name" "classBgColor"
  "value" .Params.classBgColor
  "fallback" "bg-primary"
  "scratch" $scratch 
  ) }}

  {{ $scratch := partial "dev/scratch/enrich/default-value" (dict
    "name" "classTextColor"
    "value" .Params.classTextColor
    "fallback" "text-light"
    "scratch" $scratch 
  ) }}

  {{ $scratch.Set "classPadding"    (default "py-8 py-md-12"  .Params.classPadding  )}}
  {{ $scratch.Set "classBgColor"    (default "bg-primary"     .Params.classBgColor  )}}
  {{ $scratch.Set "classTextColor"  (default "text-light"     .Params.classTextColor)}}

{{ end }}

{{ return $scratch }}