{{ $scratch :=  partial "dev/scratch/set" (dict
  "context" .
  "layoutPath" "banner/hero-with-date"
  "name" "banner-hero-with-date"
  "classAdditional" "banner-hero"
  "requiredParams" (slice "heading")
) }}

{{ partial "dev/wrapper/component-v2" $scratch }}

{{ with $scratch.Get "datasource" }}
<div class="container">
  <h1>{{ .Params.heading }}</h1>

  {{ if .Params.subheading }}
    <h2 class="h3">{{ .Params.subheading }}</h2>
  {{ end }}
  
  <span class="small">Updated {{ .Lastmod.Format "January 2, 2006" }}</span>
</div>
{{ end }}

{{ partial "dev/wrapper/bottom-v2" $scratch }}
