{{ $scratch :=  partial "dev/scratch/set-for-item-context" . }}
{{ $path := "layout/component/banner/hero-standard" }}
{{ $scratch := partial "dev/scratch/enrich/layout-path" (dict "scratch" $scratch "path" $path) }}

{{ with $scratch.Get "datasource" }}
  {{ if .Params.heading }}
    <div class="component component-banner-hero">
      <div id="hero" class="hero-image" style="background-image: url('{{ .Params.image | relURL }}')">
        <div class="container ">
          <div class="text text-white">
            <h1>{{ .Params.heading }}</h1>
            {{ if .Params.subheading }}
              <h2 class="h3">{{ .Params.subheading }}</h2>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  {{ else }}
    {{ partial "component/hint/no-content" $scratch }}
  {{ end }}
{{ end }}
