{{ $scratch :=  partial "dev/scratch/set-for-item-context" . }}
{{ $path := "layout/component/banner/hero-fullscreen" }}
{{ $scratch := partial "dev/scratch/enrich/layout-path" (dict "scratch" $scratch "path" $path) }}

{{ $context := $scratch.Get "context" }}

{{ with $scratch.Get "datasource" }}
<div class="component component-banner-intro">
  <div class="container text-primary mb-2 pt-6 pt-md-10">
    <div class="row">
      <div class="col-12">
        {{ if .Params.heading }}
          <h1 class="title-2">{{ $context.Params.heading }}</h1>
        {{ end }}
        {{ if .Params.heading }}
          <h2 class="h5 subheading mt-2 pl-6">{{ .Params.subheading }}</h2>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}
