{{ $scratch :=  partial "dev/scratch/set" (dict
  "context" .
  "layoutPath" "taxonomy/term-all"
  "name" "taxonomy-term-all"
  "classAdditional" ""
  "requiredParams" (slice )
) }}

{{ $scratch := partial "dev/scratch/enrich/default-value" (dict
  "name" "columnClass"
  "value" .Params.columnClass
  "fallback" "col-12 col-md-4 col-lg-3"
  "scratch" $scratch 
) }}

{{ $scratch := partial "dev/scratch/enrich/default-value" (dict
  "name" "quantity"
  "value" .Params.quantityToHighlight
  "fallback" 3
  "scratch" $scratch 
) }}

{{ $colClass := $scratch.Get "columnClass" }}

{{ partial "dev/wrapper/component-v2" $scratch }}

<div class="container">
  <div class="row">
    <div class="col-12 mb-4">
      <h2>All {{ title .Data.Term }} Content</h2>
    </div>
    </div>
    <div class="row align-items-stretch">
    {{ range .Pages.ByWeight }}
        <div class="{{$colClass}} mb-3">
          <a href="{{.Permalink}}" class="text-decoration-none" >
            <div class="card h-100 section-{{.Section}}">
              {{ if .Params.image }}
                <img src="{{.Params.image}}" class="card-img-top">
              {{ end }}
              <div class="card-body  ps-4 pt-2 pb-2">
                <h3 class="h5 m-0">{{ title .Name }}</h3>
              </div>
            </div>
        </a>
      </div>
    {{ end }}

  </div>
</div>

{{ partial "dev/wrapper/bottom-v2" $scratch }}
