{{ $scratch :=  partial "scratch/set" (dict
  "context" .
  "layoutPath" "taxonomy/term-featured"
  "name" "taxonomy-term-featured"
  "classAdditional" ""
  "requiredParams" (slice )
) }}

{{ $scratch := partial "scratch/enrich/default-value" (dict
  "name" "quantity"
  "value" .Params.quantityToHighlight
  "fallback" 3
  "scratch" $scratch 
) }}

{{ $scratch.Set "classPadding" "py-6" }}

{{ $featuredPages := (first ($scratch.Get "quantity") (where .Pages "Params.featured" true)) }}
{{ $hasFeaturedPages := gt (len $featuredPages) 0 }}

{{ if $hasFeaturedPages }}
{{ partial "wrapper/component-v2-no-bg-image" $scratch }}
<div class="container py-6">
  <div class="row">
    <div class="col-12 mb-4">
      <h2>Featured {{ title .Data.Term }} Content</h2>
    </div>
    {{ range $featuredPages }}
    {{ .Params.image }}
        <div class="col-12 col-md-4 mb-3">
          <a href="{{.Permalink}}" class="text-decoration-none" >
            <div class="card bg-primary text-white">
              {{ if .Params.image }}
                <img src="{{.Params.image}}" class="card-img-top">
              {{ end }}
              <div class="card-body  ps-4 pt-2 pb-2">
                <h3 class="h5 m-0">{{ title .Name }}</h3>
              </div>
            </div>
        </a>
      </div>
    {{ end }}

  </div>
</div>
{{ partial "wrapper/bottom-v2" $scratch }}
{{ end }}