{{ $scratch := . }}
{{ $context := $scratch.Get "context" }}

{{ if and (not ($scratch.Get "layoutRequestedExists")) ($scratch.Get "showHints")}}
{{ partial "dev/wrapper/component" $scratch }}
  <div class="component component-dev-hint-missing-layout">

    <div class="container pt-4 pb-4 border-start border-danger border-thick">
      <div class="row justify-content-start">
        <div class="col-12">
          <h2>{{ $context.File.Path }}</h2>
          <h2>No such partial</h2>
          <p>{{ $scratch.Get "layoutRequested" }}</p>
          <p>using fallback layout</p>
        </div>
      </div>
      <hr>
    </div>

    {{ partial "component/content/block-no-wrap" . }}
  
  </div>
{{ partial "dev/wrapper/bottom" $scratch }}
{{ end }}