{{ $scratch := . }}
{{ $context := $scratch.Get "context" }}

{{ if $scratch.Get "showHints" }}
<div class="component component-dev-hint-no-content">
  <div class="container pt-4 pt-md-10 pb-4 pb-md-10 border-start border-danger border-thick">
    <div class="row justify-content-start">
      <div class="col-12 col-md-8">
        <h2>No content</h2>
        <table class="table table-sm">
          <tbody>
            <tr>
              <td class="small">Item</td>
              <td class="small">{{ $context.File.Path }}</td>
            </tr>
            <tr>
              <td class="small">Layout</td>
              <td class="small">{{ $scratch.Get "layoutActive" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{{ end }}