{{ $scratch := . }}
{{ $datasource := $scratch.Get "datasource" }}
{{ $bgPosition := $scratch.Get "backgroundPosition"}}

<div  id='{{ $datasource.Params.anchor }}'
      class='component-wrapper
            {{ $scratch.Get "classMargin" }}
      '>

  {{ partial "scratch/print-component" $scratch }}

  {{ if $scratch.Get "draftNoticeActive" }}
    {{ partial "wrapper/_draft" "This component is a draft"}}
  {{ end }}

  <div  class='component component-{{ $scratch.Get "componentName" }} 
              {{ $scratch.Get "classCustom" }}
              {{ $scratch.Get "classAdditional" }}
              {{ $scratch.Get "classBgColor" }}
              {{ $scratch.Get "classTextColor" }}
              {{ $scratch.Get "classPadding" }}
              {{ $scratch.Get "classConstrainedWidth" }}'
        style=" background-position: {{ $bgPosition }};
                background-image: url('{{ $datasource.Params.image | relURL }}')">

<!-- closing div comes from wrapper/bottom -->