{{ $scratch := . }}

{{ if $scratch.Get "draftNoticeActive" }}
  <div class="wrapper-component">
    <div class="is-draft">
      <div class="draft-notice pt-2 pb-2">
        <div class="container">
          <div class="row">
            <div class="col-12">
              This component is a draft
            </div>
          </div>
        </div>
      </div>
    <!-- The final closing divs come from wrapper/bottom -->
{{ end }}
{{ partial "scratch/display" $scratch }}
{{ if and ($scratch.Get "showHints") false }}
<!-- 
  this needs to be implemented better

  - visual hierarchy isn't clear
  - only works for components that have the wrapper.
-->
  {{ $scratch.Get "layoutActive" }}
{{ end }}
