<!DOCTYPE html>
<!-- initialize scratch at the page level -->
{{ $scratch := partial "scratch/set-for-page" . }}
{{ $isDevEnv := $scratch.Get "isDevEnv" }}
{{ $context := $scratch.Get "context" }}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ block "title" . }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- add meta tags to page -->
  {{ partial "meta-tags" $scratch }}

  <!-- add favicon -->
  <link rel="icon" href="{{ .Site.BaseURL }}favicon.png">

  <!-- add stylesheet -->
  {{ range site.Params.stylesheets }}
    {{ if $isDevEnv }}
      {{ $style := resources.Get .src | toCSS (dict "targetPath" .dest "enableSourceMap" true) }}
      <link rel="stylesheet" href="{{ ($style).RelPermalink }}">
    {{ else }}
      {{ $style := resources.Get .src | toCSS (dict "targetPath" .dest "enableSourceMap" false) }}
      <link rel="stylesheet" href="{{ ($style | minify | fingerprint).RelPermalink }}">
    {{ end }}
  {{ end }}

  <!-- insertion point for styles defined in templates -->
  {{ block "header_css" . }}{{ end }}
</head>

<body class='page {{ block "body_classes" . }}{{ end }}'>

  <!-- header -->
  {{ range site.Params.headerPartials }}
    {{ partial . $context }}
  {{ end }}

  <div id="wrapper" class="wrapper">

      {{ partial "scratch/print-page" $scratch }}

      {{ if $scratch.Get "draftNoticeActive" }}
        {{ partial "wrapper/_draft" "This page is a draft"}}
      {{ end }}

      {{ block "banner" . }}
        {{ $scratch := partial "scratch/set-for-page" . }}
        {{ if partial "if/show-block" (dict "block" "banner" "page" .) }}
          {{ partial ($scratch.Get "defaultPageBanner") . }}
        {{ end }}
      {{ end }}

      {{ block "content" . }}
        {{ $scratch := partial "scratch/set-for-page" . }}
        {{ if partial "if/show-block" (dict "block" "content" "page" .) }}
        {{ partial ($scratch.Get "defaultPageContent") . }}
        {{ end }}
      {{ end }}
        
      {{ block "components" . }}
        {{ $scratch := partial "scratch/set-for-page" . }}
        {{ if partial "if/show-block" (dict "block" "components" "page" .) }}
          {{ range partial "get/components-for-page" . }}
            {{  partial ($scratch.Get "defaultComponentRenderer") . }}
          {{ end }}
        {{ end }}
      {{ end }}

      {{ block "persistentComponents" . }}

        <!-- can block this whole section from rendering with page params or in the page template -->
        {{ if partial "if/show-block" (dict "block" "persistentComponents" "page" .) }}
        
          {{ $context := . }} <!-- needs to be redeclared inside block scope -->
          {{ range site.Params.persistentComponents }}
            {{ if (partial "if/persistent-component-config-is-valid" .) }}
              <!-- can block a specific persistent component from showing with page params -->
              {{ if partial "if/show-block" (dict "block" .blockName "page" $context) }}
                {{ partial .partial (site.GetPage .datasource) }}
              {{ end }}
            {{ end }}
          {{ end }}

        {{ end }}
      {{ end }}

  </div>

  <!-- footer -->
  {{ range site.Params.footerPartials }}
    {{ partial . $context }}
  {{ end }}

  <!-- insertion point for js defined in templates -->
  {{ block "footer_js" . }}
  {{ end }}

  <!-- add javascript -->
  {{ range site.Params.javascript }}
    {{ $script := resources.Get .src}}
    {{ if $isDevEnv }}
      <script type="text/javascript" src="{{ $script.RelPermalink }}"></script>
    {{ else }}
      <script type="text/javascript" src="{{ ($script | minify | fingerprint).RelPermalink }}"></script>
    {{ end }}
  {{ end }}

  <!-- bootstrap from CDN -->
  <!-- TODO download include bs.min in project source -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

  {{ if eq ($scratch.Get "hotEditEnabled") "true" }}
  <script>
    document.body.contentEditable = true;
  </script>
  {{ end }}

  <!-- analytics -->
  {{ partial "google-analytics.html" . }}

</body>
</html>