<!DOCTYPE html>
<!-- initialize scratch at the page level -->
{{ $scratch := partial "dev/scratch/set-for-page" . }}
{{ $isDevEnv := $scratch.Get "isDevEnv" }}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ block "title" . }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- add meta tags to page -->
  {{ partial "dev/meta-tags" $scratch }}

  <!-- add favicon -->
  <link rel="icon" href="{{ .Site.BaseURL }}favicon.png">

  <!-- add stylesheet -->
  {{ range site.Params.stylesheets }}
    {{ if $isDevEnv }}
      {{ $style := resources.Get .src | toCSS (dict "targetPath" .dest "enableSourceMap" true) }}
      <link rel="stylesheet" href="{{ ($style).RelPermalink }}">
    {{ else }}
      {{ $style := resources.Get .src | toCSS (dict "targetPath" .dest "enableSourceMap" false) }}
      <link rel="stylesheet" href="{{ ($style | minify | fingerprint).RelPermalink }}">
    {{ end }}
  {{ end }}

  <!-- insertion point for styles defined in templates -->
  {{ block "header_css" . }}{{ end }}
</head>

<body class='page {{ block "body_classes" . }}{{ end }}'>
  {{ partial "component/header/main-menu-mobile.html" . }}

  {{ partial "component/header/header.html" . }}
  <div id="wrapper" class="wrapper">


      {{ block "banner" . }}
        {{ if partial "if/show-block" (dict "block" "banner" "page" .) }}
          {{ partial "component/banner/hero-standard" . }}
        {{ end }}
      {{ end }}

      {{ block "content" . }}
        {{ if partial "if/show-block" (dict "block" "content" "page" .) }}
          {{ partial "component/content/rich-text" . }}
        {{ end }}
      {{ end }}

      {{ block "components" . }}
        {{ if partial "if/show-block" (dict "block" "components" "page" .) }}
          {{ range partial "get/components-for-page" . }}
            {{  partial "dynamic-component-renderer" . }}
          {{ end }}
        {{ end }}
      {{ end }}

      {{ block "subpages" . }}
        {{ if partial "if/show-block" (dict "block" "subpages" "page" .) }}
          {{ range .Pages }}
            {{  partial "dynamic-component-renderer" . }}
          {{ end }}
        {{ end }}
      {{ end }}

      {{ block "contact" . }}
        {{ if partial "if/show-block" (dict "block" "contact" "page" .) }}
          {{ with .Site.GetPage "contact"}}
            {{ partial "dynamic-component-renderer" . }}
          {{ end }}
        {{ end }}
      {{ end }}


  </div>

  <!-- footer -->
  {{ partial "component/footer/footer.html" . }}
  {{ partial "component/footer/sub-footer.html" . }}

  <!-- insertion point for js defined in templates -->
  {{ block "footer_js" . }}
  {{ end }}
  
  <!-- javascript -->
  {{ $scripts := resources.Get "js/scripts.js" }}
  {{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $scripts.RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($scripts | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}

  <!-- bootstrap from CDN -->
  <!-- TODO download include bs.min in project source -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

  {{ if eq ($scratch.Get "hotEditEnabled") "true" }}
  <script>
    document.body.contentEditable = true;
  </script>
  {{ end }}

  <!-- analytics -->
  {{ partial "google-analytics.html" . }}

</body>
</html>