{{ $scratch :=  partial "dev/scratch/set" (dict
  "context" .
  "layoutPath" "component/test-no-bg-image"
  "name" "test-no-bg-image"
  "requiredParams" (slice "heading")
) }}

{{ partial "dev/wrapper/component-v2-no-bg-image" $scratch }}

{{ with $scratch.Get "datasource" }}
  <div class="container">
    <div class="text">
      <h1>{{ .Params.heading }}</h1>
      {{ if .Params.subheading }}
        <h2 class="h3">{{ .Params.subheading }}</h2>
      {{ end }}
    </div>
  </div>
{{ end }}

{{ partial "dev/wrapper/bottom-v2" $scratch }}
