{{ $scratch :=  partial "dev/scratch/set" (dict
  "context" .
  "layoutPath" "content/block"
  "name" "content-block"
  "classAdditional" ""
  "requiredParams" (slice )
  "contentRequired" true
) }}

{{ $scratch := partial "component/content/block.defaults.html" $scratch }}

{{ partial "dev/wrapper/component-v2" $scratch }}

{{ with $scratch.Get "datasource" }}
<div class="container">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      {{ if .Params.heading }}
        <h2>{{ .Params.heading }}</h2>
      {{ end }}
      {{ if .Params.subheading }}
        <h3 class="h5 mt-2">{{ .Params.subheading }}</h2>
      {{ end }}
        <div class="mt-4">
          {{ .Content }}
        </div>
    </div>
  </div>
</div>
{{ end }}

{{ partial "dev/wrapper/bottom-v2" $scratch }}
