{{ $scratch :=  partial "dev/scratch/set-for-item-context" . }}
{{ $path := "layout/component/content/block" }}
{{ $scratch := partial "dev/scratch/enrich/layout-path" (dict "scratch" $scratch "path" $path) }}

{{ $datasource := $scratch.Get "datasource" }}

{{ with $datasource }}
  {{ if .Content }}
    <div class="component component-content-block">
      <div class="container pt-4 pt-md-10 pb-4 pb-md-10 ps-4 ps-md-10 bg-primary text-white">
        <div class="row justify-content-start">
          <div class="col-12 col-md-8">
            {{ if .Params.heading }}
              <h2 class="heading">{{ .Params.heading }}</h2>
            {{ end }}
            {{ if .Params.subheading }}
              <h3 class="h5 subheading mt-2">{{ .Params.subheading }}</h2>
            {{ end }}
            <div class="mt-4">
              {{ .Content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  {{ else }}
    {{ partial "component/hint/no-content" $scratch }}
  {{ end }}
{{ end }}
