{{ $scratch := . }}

{{ with $scratch.Get "datasource" }}
  {{ $scratch.Set "classPadding"    (default "px-0" .Params.classPadding) }}
  {{ $scratch.Set "classBgColor"    (default "bg-primary" .Params.classBgColor) }}
  {{ $scratch.Set "classTextColor"  (default "text-white" .Params.classTextColor) }}
  {{ $scratch.Set "classLinkStyle"  (default "btn btn-outline-light"  .Params.classLinkStyle) }}

  {{ $scratch.Set "classConstrainedWidth" "constrained-width" }}
  {{ if (eq .Params.constrainedWidth false) }}
    {{ $scratch.Delete "classConstrainedWidth" }}
  {{ end }}

{{ end }}

{{ return $scratch }}
