{{ $scratch :=  partial "dev/scratch/set" (dict
  "context" .
  "layoutPath" "content/image-strip"
  "name" "content-image-strip"
  "classAdditional" ""
  "requiredParams" (slice )
  "contentRequired" true
) }}

{{ $scratch := partial "component/content/image-strip.defaults.html" $scratch }}

{{ partial "dev/wrapper/component-v2" $scratch }}

{{ with $scratch.Get "datasource" }}
<div class="container">
  <div class="row">
    <div class='col-12 col-md-6 {{ if eq .Params.align "right" }}offset-md-6{{ end }} panel panel-white py-2'>
      
      {{ if .Params.heading}}
        <h2 class="text-primary text-capitalize">{{ .Params.heading }}</h2>
      {{ end }}
      
      {{ .Content }}
      
      {{ if not ($scratch.Get "ctaHide") }}
        {{ partial "element/button/primary" . }}
      {{ end }}
    </div>
  </div>
</div>
{{ end }}

{{ partial "dev/wrapper/bottom-v2" $scratch }}
