{{ $scratch :=  partial "scratch/set" (dict
  "context" .
  "layoutPath" "content/image-strip"
  "name" "content-image-strip"
  "classAdditional" ""
  "requiredParams" (slice )
  "contentRequired" true
) }}

{{ $scratch := partial "component/content/image-strip.defaults.html" $scratch }}

{{ partial "wrapper/component-v2" $scratch }}

{{ with $scratch.Get "datasource" }}
<div class="container">
  <div class="row">
    <div class='col-12 col-md-6 {{ if .Params.flip }}offset-md-6{{ end }} panel panel-white p-4'>
      
      {{ if .Params.heading}}
        <h2 class="text-primary text-capitalize">{{ .Params.heading }}</h2>
      {{ end }}
      
      {{ .Content }}
      
      {{ partial "element/cta" $scratch }}

    </div>
  </div>
</div>
{{ end }}

{{ partial "wrapper/bottom-v2" $scratch }}
