{{ $scratch :=  partial "dev/scratch/set" (dict
  "context" .
  "layoutPath" "content/rich-text"
  "name" "content-block"
  "classAdditional" ""
  "requiredParams" (slice )
  "contentRequired" false
  "note" "content is not required but is a gate for rendering."
) }}

{{ $scratch := partial "component/content/rich-text.defaults.html" $scratch }}

{{ with $scratch.Get "datasource" }}
{{ if .Content}}
<div class='container {{ $scratch.Get "classPadding" }}'>
  <div class="row justify-content-start">
    <div class="col-12 col-lg-10">
        <div class="mt-4 content">
          {{ .Content }}
        </div>
    </div>
  </div>
</div>
{{ end }}
{{ end }}
