{{ $scratch :=  partial "scratch/set" (dict
  "context" .
  "layoutPath" "content/rich-text"
  "name" "content-rich-text"
  "classAdditional" ""
  "requiredParams" (slice )
  "contentRequired" false
  "note" "content is not required but is a gate for rendering."
) }}

{{ $scratch := partial "component/content/rich-text.defaults.html" $scratch }}

{{ with $scratch.Get "datasource" }}
{{ if .Content }}
{{ partial "wrapper/component-no-bg-image" $scratch }}
<div class='container'>
  <div class="row justify-content-start">
    <div class="col-12 col-lg-10">
        <div class="content">
          {{ .Content }}
        </div>
    </div>
  </div>
</div>
{{ partial "wrapper/bottom" $scratch }}
{{ end }}
{{ end }}
