{{ $scratch :=  partial "dev/scratch/set" (dict
  "context" .
  "layoutPath" "content/standard-with-cta"
  "name" "content-standard-with-cta"
  "classAdditional" ""
  "requiredParams" (slice )
  "contentRequired" true
) }}

{{ partial "dev/wrapper/component-v2" $scratch }}

{{ with $scratch.Get "datasource" }}
<div class="container">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="content">
        {{ .Content }}

        {{ if .Params.ctaText }}
          <br>
          <p class="lead">{{ .Params.ctaText }}.</p>
        {{ end }}</div>
    </div>
  </div>
</div>
{{ end }}

{{ partial "dev/wrapper/bottom-v2" $scratch }}
