{{ define "banner" }}
  {{ partial "component/banner/intro" ( site.GetPage "tags") }}
{{ end }}

{{ define "content" }}{{ end }}
{{ define "components" }}


  {{ if .Data.Terms }}
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>All Tags</h2>
        </div>
      
      <div class="col-12">
        {{ range .Data.Terms.ByCount }}
          <a href="{{.Name}}">{{ .Name }}</a>
          {{len .Pages}}<br>
        {{ end }}
      </div>
    </div>
  </div>

  {{ else if .Data.Term }}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>{{ .Data.Term }}</h2>
      </div>
    
      <div class="col-12">
        {{ range $page := .Data.tag }}
          <a href="{{$page.RelPermalink}}">{{ .Name }}</a><br>
        {{ end }}
      </div>

    </div>
  </div>
  
    

  {{ end }}

  {{ $tags := partial "get/tags-for-site" . }}


{{ end }}
{{ define "subpages" }}<!-- -->{{ end }}
{{ define "contact" }}{{ end }}