{{ $scratch :=  partial "scratch/set" (dict
  "context" .
  "layoutPath" "form/cognito"
  "name" "form-cognito"
  "classAdditional" ""
  "requiredParams" (slice "cognito_account" "cognito_form_id")
) }}

{{ partial "wrapper/component" $scratch }}

{{ with $scratch.Get "datasource" }}
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">

      <div class="cognito">
        <script src="https://www.cognitoforms.com/s/{{ .Params.cognito_account}}"></script>
        <script>Cognito.load("forms", { id: "{{ .Params.cognito_form_id }}" });</script>
      </div>

    </div>
  </div>
</div>
{{ end }}

{{ partial "wrapper/bottom" $scratch }}
