{{ $scratch := . }}

{{ with $scratch.Values.meta }}
  <meta property="og:title"       content="{{ .title  }}" />
  <meta property="og:type"        content="{{ .type }}" />
  <meta property="og:url"         content="{{ .url }}" />
  <meta property="og:image"       content="{{ .image }}" />
  <meta property="og:description" content="{{ .description }}" />
  <meta name="description"        content="{{ .description }}" />
  <meta name="twitter:card"       content="{{ .twitter_card }}" />
  <meta name="twitter:site"       content="{{ .twitter_site }}" />
  <meta name="twitter:creator"    content="{{ .twitter_creator }}" />
  <link rel="canonical"           href=   "{{ .canonicalUrl }}" />
{{ end }}
