{{ $headingTitle  := .headingTitle }}
{{ $headingItem   := .headingItem }}
{{ $headingPath   := .headingPath }}
{{ $bodyData      := .bodyData }}
{{ $parentID      := .accordionID }}

{{ $headingID :=  partial "get/unique-id" . }}
{{ $bodyID    :=  partial "get/unique-id" . }}

<div class="accordion-item">
            
  <button class="accordion-button p-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{$bodyID}}" aria-expanded="false" aria-controls="{{$bodyID}}">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <h6 class="accordion-header" id="{{$headingID}}">
            {{ $headingTitle }}
        </h6>
        </div>
        <div class="col-4">
          <span class="small">
            {{ $headingItem }}
          </span>
        </h6>
        </div>
        <div class="col-4">
          <span class="small">
            {{ $headingPath }}
          </span>
        </div>
      </div>
    </div>
  </button>

  <div id="{{$bodyID}}" class="accordion-collapse collapse" aria-labelledby="{{$headingID}}" data-bs-parent="#{{$parentID}}">
    <div class="accordion-body">
      {{ partial "scratch/_table" $bodyData }}
    </div>
  </div>
</div>