{{ $scratch := . }}
{{ $context := ($scratch.Get "context") }}
{{ $datasource := ($scratch.Get "datasource") }}

{{ $datasourceScratch :=  partial "scratch/set" (dict
  "context" $datasource
  "layoutPath" ""
  "name" ""
  "classAdditional" ""
  "requiredParams" (slice)
) }}

{{ $accordionID    := print "id-" (partial "get/random-sha1" . ) }}


{{ if and ($scratch.Get "isDevEnv") site.Params.enable_scratch_printout }}
  <div class="component component-dev-scratch-display border-top border-thick">
    <div class="container border-start border-thick">
      <div class="row">

        <!-- accordion -->
        <div class="accordion accordion-flush" id="{{ $accordionID }}">
            
          {{ partial "scratch/_accordion-item" (dict
              "headingTitle"  "Context Scratch"
              "headingItem"   $context.Params.heading
              "headingPath"   $context.Path
              "bodyData"      $scratch.Values
              "accordionID"   $accordionID
          ) }}

          {{ partial "scratch/_accordion-item" (dict
              "headingTitle"  "Context Params"
              "headingItem"   $context.Params.heading
              "headingPath"   $context.Path
              "bodyData"      $context.Params 
              "accordionID"   $accordionID
          ) }}
          
          {{ if or $context.Data.Terms $context.Data.Term }}
          {{ partial "scratch/_accordion-item" (dict
              "headingTitle"  "Taxonomy"
              "headingItem"   $context.Params.heading
              "headingPath"   $context.Path
              "bodyData"      $context.Data 
              "accordionID"   $accordionID
          ) }}
          {{ end }}

          {{ if (ne $context $datasource) }}
            {{ partial "scratch/_accordion-item" (dict
                "headingTitle"  "Datasource Scratch"
                "headingItem"   $datasource.Params.heading
                "headingPath"   $datasource.Path
                "bodyData"      $datasourceScratch.Values
                "accordionID"   $accordionID
            ) }}
            
            {{ partial "scratch/_accordion-item" (dict
                "headingTitle"  "Datasource Params"
                "headingItem"   $datasource.Params.heading
                "headingPath"   $datasource.Path
                "bodyData"      $datasource.Params 
                "accordionID"   $accordionID
            ) }}
          {{ end }}

        <!-- /accordion -->

        </div>
      </div>
    </div>
  </div>
{{ end }}