{{ $scratch := newScratch }}

{{ $scratch := partial "scratch/enrich/site-config" $scratch }}
{{ $scratch := partial "scratch/enrich/context" (dict "scratch" $scratch "context" .) }}

<!-- COMPONENT DIRECTORY  -->
{{ if isset .Params "componentdirectory" }}
  {{ $scratch.Set "componentDirectory" .Params.componentDirectory }}
{{ else }}
  {{ $scratch.Set "componentDirectory" "components" }}
{{ end }}

<!-- COMPONENT LAYOUT -->
{{ if .Params.component}}
  {{ $scratch.Set "layoutRequested" (fmt.Printf "%s.html" .Params.component) }}
  {{ $scratch.Set "layoutFileLocation" (fmt.Printf "/layouts/partials/%s.html" .Params.component) }}
  {{ $scratch.Set "layoutRequestedExists" (fileExists ($scratch.Get "layoutFileLocation")) }}
{{ else }}
  {{ $scratch.Set "layoutRequested" "" }}
  {{ $scratch.Set "layoutRequestedExists" false}}
{{ end }}

<!-- DRAFT NOTICE -->
{{ $scratch.Set "draftNoticeActive" (and ($scratch.Get "draftNoticeEnabled") .Draft)}}

<!-- DATASOURCE -->
{{ $scratch.Set "hasDatasource" false }}
<!-- frontmatter -->
{{ if ( isset .Params "datasource" ) }}
  {{ $datasource := site.GetPage .Params.datasource  }}
  {{ $scratch.Set "datasource" $datasource }}
  {{ $scratch.Set "hasDatasource" true }}
<!-- partial with dict -->
{{ else if or .IsPage .IsSection .IsNode }}
  {{ $scratch.Set "datasource" . }}
  {{ $scratch.Set "hasDatasource" true }}
{{ end }}
<!-- /DATASOURCE -->

<!-- LIST ROOT -->
{{ $scratch.Set "hasListRoot" false }}
<!-- frontmatter -->
{{ if ( isset .Params "listRoot" ) }}  
  {{ $listRoot := site.GetPage .Params.listRoot  }}
  {{ $scratch.Set "listRoot" $listRoot }}
  {{ $scratch.Set "hasListRoot" true }}
<!-- fall back to datasource -->
{{ else if $scratch.Get "hasDatasource" }}
  {{ $scratch.Set "listRoot" ($scratch.Get "datasource") }}
  {{ $scratch.Set "hasListRoot" true }}
{{ end }}
<!-- /LIST ROOT -->

<!-- LIST ITEMS -->
{{ $scratch.Set "hasListItems" false }}

{{ if $scratch.Get "hasListRoot" }}
  {{ $listItems := ($scratch.Get "listRoot").Pages }}
  {{ $scratch.Set "listItems" $listItems }}
  {{ if gt (len ($scratch.Get "listItems")) 0 }}
    {{ $scratch.Set "hasListItems" true }}
  {{ end }}
{{ end }}

<!-- TODO run the list through a list modifier engine if specified -->
<!-- 
# consider frontmatter such that
queryEnhancer
  - filter/featured
  - filter/by-date-descending
  - filter/take-6
-->

<!-- 

{{ range .Params.queryEnhancer }}
  {{ $scratch.Set "listItems" (partial (.) ($scratch.Get "listItems") )}}
{{ end }}

-->

<!-- /LIST ITEMS -->

{{ if isset .Params "ctahide"}}
  {{ $scratch.Set "ctaHide" .Params.ctaHide }}
{{ else }}
  {{ $scratch.Set "ctaHide" false }}
{{ end }}

{{ if isset .Params "columnclass"}}
  {{ $scratch.Set "columnClass" .Params.columnclass }}
{{ end }}

{{ return $scratch }}
