{{ $scratch := newScratch }}

{{ $scratch.Set "context" . }}
{{ $scratch := partial "scratch/enrich/site-config" $scratch }}
{{ $scratch := partial "scratch/enrich/meta" $scratch }}


<!-- COMPONENT DIRECTORY  -->
{{ if isset .Params "componentdirectory" }}
  {{ $scratch.Set "componentDirectory" .Params.componentDirectory }}
{{ else }}
  {{ $scratch.Set "componentDirectory" "components" }}
{{ end }}

<!-- DRAFT NOTICE -->
{{ $scratch.Set "draftNoticeActive" (and ($scratch.Get "draftNoticeEnabled") .Draft)}}

<!-- DEFAULT COMPONENTS -->
{{ $scratch.Set "defaultPageBanner"         (default "component/banner/hero-standard"  site.Params.defaultPageComponents.banner)            }}
{{ $scratch.Set "defaultPageContent"        (default "component/content/rich-text"     site.Params.defaultPageComponents.content)           }}
{{ $scratch.Set "defaultComponentRenderer"  (default "dynamic-component-renderer"      site.Params.defaultPageComponents.componentRenderer) }}

{{ return $scratch }}
