<div class='header header-absolute'>
  <div class="container">
    <div class="logo">
      <a href="{{ .Site.BaseURL }}"><img alt="{{ .Site.Title }} Homepage" src="{{ .Site.BaseURL }}images/logo.png" /></a>
    </div>
    <div class="logo-mobile">
      <a href="{{ .Site.BaseURL }}"><img alt="{{ .Site.Title }} Homepage" src="{{ .Site.BaseURL }}images/logo-mobile.png" /></a>
    </div>
    {{ partial "component/header/main-menu.html" . }}
    {{ partial "component/header/hamburger.html" . }}
  </div>
</div>