{{ $scratch := partial "dev/scratch/set-for-item-context" . }}

<div id="main-menu" class="main-menu">
  <ul>
    {{ $currentPage := . }}
    {{ $showDraft := $scratch.Get "draftNoticeEnabled" }}
    {{ range .Site.Menus.main }}
      {{ $linkedPage := ($currentPage.Site.GetPage .URL) }}
      {{ $draft      := $linkedPage.Draft}}

      {{ if or
        ( and $showDraft $draft )
        ( and ($linkedPage) (not $draft) ) }}
        <li
          class="menu-item-{{ .Name | lower }}
                {{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}
                {{ if and $showDraft $draft }} is-draft {{ end }}">
                <a href="{{.URL}}">
            {{ .Pre }}
            <span>{{ .Name }}</span>
          </a>
        </li>
      {{ end }}
    {{end}}
  </ul>
</div>