{{ $scratch := . }}

{{ with $scratch.Get "datasource" }}

  {{ $scratch := partial "scratch/enrich/default-value" (dict
    "name" "classPadding"
    "value" .Params.classPadding
    "fallback" "py-8 ps-8"
    "scratch" $scratch 
  ) }}

  {{ $scratch := partial "scratch/enrich/default-value" (dict
    "name" "classBgColor"
    "value" .Params.classBgColor
    "fallback" "bg-secondary"
    "scratch" $scratch 
  ) }}

  {{ $scratch := partial "scratch/enrich/default-value" (dict
    "name" "classTextColor"
    "value" .Params.classTextColor
    "fallback" "text-white"
    "scratch" $scratch 
  ) }}

  {{ $scratch.Set "classConstrainedWidth" "constrained-width" }}

{{ end }}

{{ return $scratch }}